.container {
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 18%;
}

body {
    background-image: url("gifs/game.jpg");
}

.innerContainer {
    background-color: white;
    width: 50%;
    height: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-direction: column
}

.col-1 {
    font-size: 40px;
}

.col-2 {
    font-size: 25px;
}

.col-3 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 140px;
}

.col-3:hover {
    background-color: #3e8e41;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}