.container {
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 15%;
}

body {
    background-image: url("gifs/game1.jpg");
}

.innerContainer {
    width: 50%;
    height: 350px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-direction: column;
}

.col-1 {
    font-size: 50px;
    color: white;
}

.col-2 {
    font-size: 25px;
    color: white;
}

.col-3 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 140px;
}

.col-3:hover {
    background-color: #3e8e41;
}