.container {
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
}

body {
    background-image: url("gifs/game.jpg");
}

#game {
    width: 70%;
    height: 800px;
    flex-wrap: wrap;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 30px;
    color: white;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i,
.j,
.k,
.l {
    width: 22%;
    height: 180px;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: 0 5px 20px rgb(0 0 0 / 0.2);
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.flip {
    transition: 0.5s;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


/* Container for flexboxes */

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}


/* Create four equal columns */

.column {
    flex: 20%;
    padding: 10px;
}

.img .flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}